<!DOCTYPE html>
<html lang="en">
  <head><!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-MCBNQG4RT7"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-MCBNQG4RT7');
</script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Manager Login</title>
    <link rel="stylesheet" href="/static/css/login.css" />
    <link rel="stylesheet" href="{{url_for('static',filename='mlogin.css')}}" />
  </head>
  <body>
    <div class="container">
      <div class="title-box">
        <h1>Manager Login</h1>
      </div>
      <form action="/login" method="post">
        <div class="inputs">
          <input type="text" name="username" required />
          <label class="input-title">Username</label>
        </div>
        <div class="errorbox username">
          {%if userNF%}
          <span>{{userNF}}</span>
          {%endif%}
        </div>
        <div class="inputs">
          <input type="password" name="password" required />
          <label class="input-title">Password</label>
        </div>
        <div class="errorbox password">
          {%if passwordI%}
          <span>{{passwordI}}</span>
          {%endif%}
        </div>
        <div class="btns">
          <button>Login</button>
        </div>
      </form>
    </div>
    <script></script>
  </body>
</html>
